@import "../components/variables";

.img-comida {
    padding: 30px;
    max-width: max-content;
    max-height: max-content;
}

.img-fluid {
    padding: 30px;
}

#local {
    background: $color-texto;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}