@import "../components/variables";

#menu a {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

.nav-item a:hover {
    background: #e91e63;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: $color-texto;
    padding: 0 150px;
}